body {
    text-align: center;
    background: linear-gradient(90deg, rgba(191,240,255,1) 0%, rgba(193,161,223,1) 19%, rgba(222,160,212,1) 57%, rgba(202,183,255,1) 82%);

}
    
    #img1 {
    width: 600px;
    height: 650px;
}

#aboutt {
    font-size: 35;
    font-style:oblique;
    color:black;
}

#myNavbar {
    background-color:black;
}

html {
    scroll-behavior: smooth;
}


.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5 , .travel_mainDiv p {
    margin-left: 20px;
}
p {
    color:black
    font-size: 15;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.fam<3_li {
    margin-top: 13px;
}

.fam<3_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.fam<3_li img {
    border-radius: 25px;
}

.fam<3_li p {
    margin-top: 10px;
}

#mom p {
    font-size: 100px;
}

#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}

